$primary_color : #2962FF;
$seconadry_color : #455A64;
$danger : #D32F2F;
$shadow_color : #E0E0E0;
$default-bgColor_hover : #3F3F3F;
$default-bgColor : #E0E0E0;
$danger_hover : #9A0007;
$primary_hover : #0039CB;
$outline_hover-bg :#3D5AFE;
$secondary_hover : #1C313A;
$disabled_bg : #E0E0E0;

@mixin sm_size {
  padding: 0.5rem;
}

@mixin md_size {
  padding: 1rem;
}

@mixin lg_size {
  padding: 1.5rem;
  padding-block: 1rem;
}
 
body {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

button {
  display: block;
  margin: 1rem;
  border: none;
  padding : 0.5rem;
  border-radius: 5px;
  box-shadow:0 0 5px 1px $shadow_color;
}

.default-bgColor:hover,
.default-bgColor:focus {
  background-color: $default-bgColor_hover;
}

.default-bgColor {
  background-color: $default-bgColor;
}

.danger {
  background-color: $danger;
}

.primary {
  background-color: $primary_color;
}

.secondary {
  background-color: $seconadry_color;
}

.danger:hover,
.danger:focus {
  background-color: $danger_hover;
}

.primary:hover,
.primary:focus {
  background-color: $primary_hover;
}

.secondary:hover,
.secondary:focus {
  background-color: $secondary_hover;
}

.outline {
  border: 1px solid $primary_color;
  background: none;
}

.outline:hover,
.outline:focus {
  border: 1px solid $outline_hover-bg;
  background: $primary_color 0%;
}


button.sm {
  @include sm_size;
}

button.md {
  @include md_size;
}

button.lg {
  @include lg_size;
}

.text {
  background: none;
}

.icon {
  background-repeat: no-repeat;
  background-size: 50% 50%;
}

.startIcon {
  padding-left: 3rem;
  background-position: left center;
}

.shadow {
  box-shadow: 1px 1px 1px #cccccc;
}

.grey {
  color: $seconadry_color;
}

.white {
  color: #ffffff;
}

button:disabled {
  background: $disabled_bg;
  box-shadow: none;
}

button:disabled:hover {
  background: #E0E0E0;
}

.text {
  background-color: white;
  color: $primary_color;
}

button:disabled.text {
  background-color: white;
}

.disabledBoxShadow {
  box-shadow: none;
}

.container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button .startIcon {
  padding-inline-start: .5rem;
  padding-inline-end: .5rem;
  padding-block-end: .3   rem;
  padding-block-start: .3rem;
}

button .endIcon {
  padding-inline-start: .5rem;
  padding-inline-end: .5rem;
  padding-block-end: .3rem;
  padding-block-start: .3 rem;
}